@import "../colors";
@import "../mixins";

.cardPreview {
  margin: 20px;
  padding: 20px;
  width: 300px;
  height: auto;
  background-color: rgba(7, 12, 12, 0.582);
  border-radius: 20px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
  @include column-position;

  &:hover {
    background-color: rgba(65, 33, 80, 0.582);
  }

  .author {
    margin: 0px 0px 10px 0px;
    align-self: flex-start;
    font-size: 20px;
  }

  .title {
    font-size: 14px;
  }

  .cover {
    margin: 10px 0;
    width: 300px;
    border-radius: 20px;
  }

  .userActions {
    width: 100%;
    @include evenly-position;
  }

  .like:hover {
    opacity: 0.5;
  }

  .userActionsItem {
    width: 35px;
    height: 35px;
    cursor: pointer;
    @include row-position;
  }

  .userActionsItem_active {
    fill: rgba(255, 0, 0, 0.664);
  }
}

.cardItem {
  margin: 10px auto;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: content;

  .photoBlock {
    margin: 20px;
    padding: 10px;
    box-shadow: 0 0 10px 5px rgb(196, 196, 196);
    background-color: rgba(205, 211, 197, 0.377);
    border-radius: 5px;
    @include column-position;

    h2 {
      width: 100%;
      margin: 5px;
      align-self: flex-start;
    }
    h3 {
      margin: 10px;
    }
    p {
      font-size: 14px;
      color: rgb(146, 146, 146);
    }

    img {
      width: 400px;
      border-radius: 20px;
    }
  }

  .infoBlock {
    margin: 20px;
    @include column-position;

    .cardContent {
      padding: 10px;
      box-shadow: 0 0 10px 5px rgb(196, 196, 196);
      background-color: rgba(205, 211, 197, 0.377);
      /* border: solid rgb(128, 127, 127) thin; */
      border-radius: 5px;
      @include column-position;

      .likes {
        margin: 10px;
        width: 35px;
        cursor: pointer;
        align-self: flex-end;
        @include row-position;

        &:hover {
          .like {
            opacity: 0.5;
          }
        }
      }
      .watchMore {
        display: none;
      }

      .likes_active {
        .like {
          fill: rgba(255, 0, 0, 0.664);
        }
      }

      .text {
        margin: 20px;
        width: 400px;
        text-align: left;
        overflow-wrap: break-word;
      }
    }
  }
}

@media (max-width: 1050px) {
  .cardItem {
    margin: 15px auto;
    width: 500px;
    @include column-position;

    .photoBlock {
      width: 460px;
      padding: 15px;
      @media (max-width: 700px) {
        img {
          width: 300px;
        }
      }
    }

    .infoBlock {
      width: 400px;
      margin: 5px;
      .cardContent {
        position: relative;
        margin: 10px 0;
        .likes {
          align-self: center;
        }
        .watchMore {
          position: absolute;
          right: 20px;
          bottom: 18px;
          display: block;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .cardItem {
    width: 350px;
    @include column-position;

    .photoBlock {
      width: 320px;
    }

    .infoBlock {
      width: 320px;
      margin: 5px;
      .cardContent {
        .text {
          margin: 10px 0;
          width: 300px;
          text-align: left;
          overflow-wrap: break-word;
        }
      }
    }
  }
}
