@import "../colors";
@import "../mixins";

.cardPreview {
  margin: 20px;
  padding: 20px;
  width: 300px;
  height: auto;
  background-color: rgba(144, 199, 201, 0.582);
  border-radius: 20px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
  @include column-position;

  &:hover {
    background-color: rgba(65, 33, 80, 0.582);
  }

  .author {
    margin: 0px 0px 10px 0px;
    align-self: flex-start;
    font-size: 20px;
  }

  .title {
    font-size: 14px;
  }

  .cover {
    margin: 10px 0;
    width: 300px;
    border-radius: 20px;
  }

  .userActions {
    width: 100%;
    @include evenly-position;
  }

  .like:hover {
    opacity: 0.5;
  }

  .userActionsItem {
    width: 35px;
    height: 35px;
    cursor: pointer;
    @include row-position;
  }

  .userActionsItem_active {
    fill: rgba(255, 0, 0, 0.664);
  }
}
