@import "../colors";
@import "../mixins";

.container {
  margin: 20px 0;
  width: 460px;
  padding: 10px;
  box-shadow: 0 0 10px 5px rgb(196, 196, 196);
  background-color: rgba(205, 211, 197, 0.377);
  /*   border: solid rgb(128, 127, 127) thin; */
  border-radius: 5px;

  @media (max-width: 600px) {
    & {
      width: 320px;
    }
  }

  .comments {
    padding: 15px;
    max-height: 300px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      @include scrollbar;
    }

    &::-webkit-scrollbar-thumb {
      @include thumb;
    }

    .item {
      margin: 5px 0;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: solid rgb(128, 127, 127) thin;

      .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .author {
          color: rgb(138, 138, 138);
          font-size: 12px;
        }
        .text {
          text-align: start;
        }
        .reactions {
          margin-top: 8px;
          width: 50px;
          height: auto;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .thumb {
            fill: gray;
            cursor: pointer;

            &:hover {
              fill: black;
            }
          }

          .thumb_down {
            transform: rotate(180deg);
          }
        }
      }

      .deleteBtn {
        margin: 15px 0 0;
        width: 10px;
        justify-self: flex-end;
        cursor: pointer;

        &:hover {
          fill: red;
        }
      }
    }
  }
}

.form {
  width: 100%;
  margin: 5px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  input {
    color: black;
    width: 70%;
    font-size: 12px;
  }

  @media (max-width: 600px) {
    input {
      width: 60%;
      font-size: 12px;
    }
  }
}
