@import "../colors";
@import "../mixins";

.container {
  margin: 20px 0;
  width: 460px;
  padding: 10px;
  border: solid rgb(128, 127, 127) thin;
  border-radius: 5px;

  @media (max-width: 600px) {
    & {
      width: 320px;
    }
  }

  .comments {
    padding: 15px;
    max-height: 300px;
    overflow-y: scroll;

    .item {
      margin: 5px 0;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: solid rgb(128, 127, 127) thin;

      .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .author {
          color: rgb(138, 138, 138);
          font-size: 12px;
        }
      }

      .deleteBtn {
        width: 10px;
        align-self: flex-end;
        cursor: pointer;

        &:hover {
          fill: red;
        }
      }
    }
  }
}

.form {
  width: 100%;
  margin: 5px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  input {
    width: 70%;
    font-size: 12px;
  }

  @media (max-width: 600px) {
    input {
      width: 60%;
      font-size: 12px;
    }
  }
}
