@import "../colors";
@import "../mixins";

.modal {
  @include modal;
}

.form {
  width: auto;
  height: auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.397);
  border-radius: 10px;
  @include column-position;

  input,
  button {
    margin: 10px;
  }

  .closeBtn {
    width: 15px;
    position: relative;
    top: -30px;
    left: 170px;
    cursor: pointer;
  }

  p {
    margin: 7px;
    color: $font-ui-light;
  }

  @media (max-width: 700px) {
    img {
      left: 130px;
    }
  }
}
