@import "../colors";
@import "../mixins";

.navigation {
  width: 100vw;
  height: 80px;
  z-index: 3;
  background-color: $background-nav;
  @include evenly-position;

  a {
    /*     margin: 0 20px;
    padding: 10px 20px; */
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: $nav-item;
  }

  /*   a:hover {
    color: $nav-item-hover;
    border-radius: 20px;
    background-color: rgb(145, 144, 144);
  } */
}

.toggle_down,
.toggle_up {
  position: absolute;
  top: 30px;
  left: 100px;
  transition-property: opacity;
  transition-duration: 0.5s;
  cursor: pointer;
}

.toggle_up {
  transform: rotate(180deg);
}

.toggle_down:hover,
.toggle_up:hover {
  opacity: 0.4;
}

.search {
  width: 60vw;
  background-color: rgb(182, 182, 182);
}

.authLinks {
  width: 350px;
  height: 100%;
  @include evenly-position;

  a {
    padding: 10px 20px;
  }
}

@media (max-width: 1300px) {
  .authLinks {
    width: auto;
    @include column-position;

    a {
      padding: 10px;
      font-size: 12px;
    }
  }
}

@media (max-width: 1030px) {
  .toggle_down,
  .toggle_up {
    left: 20px;
  }
}

@media (max-width: 700px) {
  .search {
    width: 40vw;
  }

  img {
    width: 20px;
    height: 20px;
  }

  input {
    font-size: 10px;
  }

  .authLinks {
    a {
      padding: 10px;
      font-size: 10px;
    }
  }
}

@media (max-width: 430px) {
  .toggle_down,
  .toggle_up {
    top: 35px;
    left: 10px;
    width: 15px;
  }
}
