// light theme:

// body
$background-light: #d8ccccb7;
$font-light: rgb(22, 21, 21);
$placeholder-font-light: rgba(43, 40, 40, 0.678);

// btns & inputs:
$background-btn-light: #4e6ec7b7;
$border-light: #5c70a749;
$font-ui-light: rgb(216, 216, 216);

//links hover:
$link-hover: rgb(107, 58, 58);

// navigation
$background-nav: rgba(3, 3, 3);
$nav-item: rgb(216, 216, 216);
$nav-item-hover: rgb(255, 255, 255);

// menu
$background-menu: rgb(31, 31, 31);
