// borders
@mixin ui-border {
  border-radius: 1rem;
  padding: 15px 20px;
}

// positions
@mixin row-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin evenly-position {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@mixin column-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin modal {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.404);
  z-index: 10;
  @include column-position;
}
